* {
    background-color: #2e3138;
    color: #d9d9d9;

}

nav, .notbody {
    background-color: #454954;
}

.body {
    position: absolute;
    left: 150px;
}

.notbody {
    margin-left: 30px;
    margin-right: 30px;

}

.cont {
    width: 750px;
    height: 150px;
    border: 1px solid;
    background-color: #454954;
    margin: 0px 60px 60px 60px;
}

.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
}
.post {
    margin: 60px;
    width: 750px;
}

.inp{
    width: 130px;
    height: 40px;
    margin-top: 5px;
}

img {
    height: 400px;
    width: auto;
    padding: 15px;
    display: block;
}

.info {
    display: inline-block;
}

.name {
    position: absolute;
    top: 75px;
}

.vote {
    margin-left: 25px;
}

.up {
    display: flex;
    justify-content: center;
/*    padding: 15px;*/
}
.btn:hover{
    background-color: aliceblue;
}

.text {
    position: relative;
    width: 615px;;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    transition: 0.5s;
}

.text:focus {
    color: dodgerblue;
    border-bottom: 1px solid #32b332;
    background: transparent;
    transition: 0.5s;
}

.a {
    background-color: #454954;
    color: #737373;
}